@import '~/assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        font-weight: 100;
        font-family: operator mono,Courier New,monospace;
        line-height: 1.5;
    }

    @media (prefers-color-scheme: dark) {
        p {
            text-shadow: 4px 3px 0 rgba(0,0,0,.3);
        }
    }

    .hl {
        color: #ffc600;
    }

    .hint {
        @apply text-sm text-center mt-4;
    }
}
