@import '~/assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        font-weight: 100;
        font-family: operator mono,Courier New,monospace;
        line-height: 1.5;
    }

    @media (prefers-color-scheme: dark) {
        p {
            text-shadow: 4px 3px 0 rgba(0,0,0,.3);
        }
    }

    .hl {
        color: #ffc600;
    }


    .hint a {
        color: #ff3b65;
    }

    .boring p, .boring li {
        text-shadow: none;
        @apply text-black text-2xl;
    }

    .boring a {
        color: #ff3b65;
        text-decoration: underline;
    }

    .boring li {
        font-weight: 100;
        font-family: operator mono,Courier New,monospace;
        line-height: 1.5;
    }

    .boring .hl {
        color: #ff3b65;
    }

    .boring .hint {
        @apply text-sm text-center mt-4;
    }

    .button {
        @apply rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
    }
}
